{% extends 'index.html' %}
{% load static %}
{% block content %}

 <style>
  
main {
  padding-top:1rem;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  
}

.product-area{
  padding-top: 1rem;
}

.product{
padding: 1rem;
}

 .card:hover {
  box-shadow: 1px 8px 16px  rgba(38, 38, 38, 0.563);
}

.card-img-top{
  height:250px;
}
.card:hover {

  filter: brightness(1.10) ;
}

.btn,
.btn a{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.filter-panel {
  display: flex;
  margin-bottom: 15px ;
  padding:0;
        
        }
.filter-panel li {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 80px;
  margin: 3px ;
  padding: 5px  0;
  list-style: none;
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  border-radius: 5px;
  background-color: hsl(174, 100%, 29%);
}
.filter-panel li:hover {
    background-color: hsl(174, 100%, 35%);
}
.filter-panel strong {
    width: 120px;
}

</style>


<main id="main" role="main">
      
      <section class="product-area">

         <div class="container products">
        
          <ul class="filter-panel">
            <li data-filter="all"> Tous </li>
            <li data-filter="Salon"> Salon</li>
            <li data-filter="Cuisine">Cuisine</li>
            <li data-filter="Chambre">Chambre</li>
            <li data-filter="Autre">Autres</li>
        </ul>
  

        <div class="row">
            <div class="filter-container">
      {% for item in object_list %}
     
          
            <div class="col-lg-4 col-md-6 product filtr-item" data-category="{{item.get_category_display}}"  >
              <div class="card">
                <div class="card-img">
                <a href="{{item.get_absolute_url}}" >
                <img class="card-img-top" src="{{item.image.url}}" oncontextmenu="return false;" alt="Card image cap">
              </a>
            </div>
                <div class="card-body">
                  <p class="card-text">{{item.title}}</p>
                  <p class="card-text">{{item.get_product_category_display}}</p>
                  <p class="card-text">{{item.get_inventory_display}}</p>
                  <p class="card-text">{{item.get_color_display}}</p>
                  <p class="card-text">{{item.get_category_display}}</p>
                  <div class="d-flex  justify-content-between align-items-center">
                    <a  href="{{item.get_absolute_url}}" >
                      <button class="btn update-cart"  type="button" >
                    
                        <span>Détails</span>
                      
                      </button>
                    </a>
                    <small class="text-muted"> 
                      {%if item.discount_price%} {{item.discount_price}} {% else %} {{item.price}} {% endif %} 
                      
                    </small>
                  </div>
                </div>
              </div>
            </div>
          
    {% endfor %}
            </div>
            </div>
          </div>
          </section>
     
          <script>
const options = { };

const filterizr = new Filterizr('.filter-container', options);
          </script> 
   </main>
  
   
{% endblock content %}