p,
a {

    font-family: "Libre Baskerville";
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;

}




@media screen and (max-width: 600px) {


    p,
    a,
    span {

        font-weight: 500;
        font-size: 0.80rem;
        letter-spacing: 1px;
    }


}

html {
    scroll-behavior: smooth;
}