<style>

footer .li{ 
  text-decoration: none;
}
.footer-container{
  box-shadow: 1px 1px 1px 1px rgba(1,1,1,0.8);
  background-color: rgb(245, 235, 255);

  margin-top: 1rem;
}

.footer-container a{

  text-transform: uppercase;
  font-weight: 600;
}
.footer-container a{

  text-transform: uppercase;
  font-weight: 600;
 
}


.footer-container li{
 padding-top: 1.2vw;
}

@media screen and (min-width: 601px) {
  .footer-container a{
font-size: 1vw;
}
}

</style>

<footer class="container-fluid footer-container">


<div class="container p-4">
  <div class="row">

  <div class="col-md">
    <h5>Suivez nous:</h5>
    
<ul class="icons list-unstyled d-flex ">
 <li class="facebook">
   <a href="https://facebook.com" target="_blank">
     <i class="fab fa-facebook fa-3x" style="color:rgb(16, 62, 211);padding: 5px;"></i>
   </a>
 </li>
 <li class="instagram" >
   <a href="https://facebook.com" target="_blank">
     <i class="fab fa-instagram-square fa-3x" style="color:rgb(221, 37, 98);padding: 5px;" ></i>
   </a>
 </li>
 <li class="youtube">
   <a href="https://facebook.com" target="_blank">
     <i class="fab fa-youtube  fa-3x" style="color:rgb(255,0,0);padding: 5px;" ></i>
   </a>
 </li>
</ul>

 </div>
    <div class="col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
      </div>
      
    </div>
  </div>
</div>
<hr>
<footer class="container-fluid">

  <div class="container p-4">

  <p class="float-right"><a href="#" ><i class="fas fa-chevron-circle-up fa-3x" style="color:seagreen;"></i></a></p>
  <p>
    &copy; 2013-2020 SARL H-Pro
  </p>
</div>
</div>

</footer>
