
<!--========== FOOTER ==========-->
<style>
 
.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
  font-family: var(--third-font);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

</style>
<footer class="footer container mt-5 py-5">
  <div class="row">
    <div class="col-6 col-md">
      <div class="footer__content ">
          <span class="footer__logo"> mobilia pro </span>
          <span class="footer__description">Made in Bladi.</span>
          <div>
              <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
              <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
              <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
          </div>
      </div>
    </div>
    <div class="col-6 col-md">
     <h3 class="footer__title">Services</h3>
          <ul>
              <li><a href="#" class="footer__link">Livraison</a></li>
              <li><a href="#" class="footer__link">Prix</a></li>
              <li><a href="#" class="footer__link">Meuble</a></li>
              <li><a href="#" class="footer__link">Visitez nous</a></li>
          </ul>
    </div>
    <div class="col-6 col-md">
        <h3 class="footer__title">Information</h3>
          <ul>
              <li><a href="#" class="footer__link">Evenement</a></li>
              <li><a href="#" class="footer__link">Contactez nous</a></li>
              <li><a href="#" class="footer__link">Politques</a></li>
              <li><a href="#" class="footer__link">Termes de services</a></li>
          </ul>
    </div>
    <div class="col-6 col-md">
       <h3 class="footer__title">Adress</h3>
          <ul>
              <li>Alger - Algerie </li>
              <li>223 rue bitrtouta </li>
              <li>999 - 888 - 777 </li>
          </ul>
    </div>
   
  </div>
    <p class="footer__copy"> &copy; 2021 H-PRO. Tous droits réservés</p>
</footer>





